@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #aaa;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}